* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  outline: none;
}

:root {
  /* colors */
  --background-color: #f2eae2;
  --primary-color: #3d8168;
  --text-color: #6c7289;
  --white: #ffffff;
  --active-hover: #1a4032;

  /* spacing */
  --details-padding: 2rem;
  --details-gap: 1.6rem;

  /* font sizes */
  --fs-small: 0.75rem;
  --fs-small-medium: 0.8125rem;
  --fs-medium: 0.875rem;
  --fs-large: 2rem;
}

body {
  background-color: var(--background-color);
  display: grid;
  place-items: center;
  min-height: 100vh;
  padding: 1.43rem 1rem;
}

.product-container {
  max-width: 600px;
  min-height: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.image-container {
  width: 100%;
  height: 100%;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-details {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  padding: var(--details-padding);
  gap: var(--details-gap);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.product-name {
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-small);
  letter-spacing: 5px;
  font-weight: 500;
  color: var(--text-color);
}

h1 {
  font-family: "Fraunces", serif;
  font-size: var(--fs-large);
  color: black;
  font-weight: 700;
}

p {
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-medium);
  color: var(--text-color);
  line-height: 23px;
  font-weight: 500;
}

.prices {
  display: flex;
  gap: 1.1875rem;
  justify-content: start;
  align-items: center;
}

.current {
  font-family: "Fraunces", serif;
  font-size: var(--fs-large);
  color: var(--primary-color);
  font-weight: 700;
}

.former {
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-small-medium);
  color: var(--text-color);
  text-decoration: line-through;
  font-weight: 500;
}

button {
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.73rem;
  color: var(--white);
  font-weight: 700;
  font-size: var(--fs-medium);
  background-color: var(--primary-color);
  border: 0;
  border-radius: 8px;
  padding: 0.9375rem 3.9375rem;
  padding-right: 3.875rem;
  cursor: pointer;
}

button:hover {
  background-color: var(--active-hover);
}

@media (max-width: 637px) {
  .product-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    max-width: 340px;
  }

  .image-container {
    border-radius: 10px 10px 0 0;
  }

  .product-details {
    border-radius: 0 0 10px 10px;
  }

  button {
    max-width: 295px;
    height: 48px;
    padding: 0;
  }

  .prices {
    flex-wrap: wrap;
  }

  .current {
    font-size: clamp(1.5rem, -0.1429rem + 11.4286vw, 2rem);
  }
}
